*{
    box-sizing: border-box
}
html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0
}
body{
    background: #eee;
    font-family: Arial, Helvetica, sans-serif
}
h1{
    font-weight: 200;
    color: #3b414c;
    font-size: 20px;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0
}

.app{
    white-space: nowrap;
    height: 100%;
}
.list{
    position: relative;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    height: 100%;
    width: 33%;
    padding: 0 10px;
    overflow: auto
}
.list:not(:last-child)::after{
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 99%;
    background: linear-gradient(to bottom, #eee 0%,#ccc 50%, #eee 100%) fixed
}
.card{
    position: relative;
    z-index: 1;
    background: #fff;
    width: 100%;
    padding: 10px 10px 10px 15px;
    margin: 0 0 10px 0;
    overflow: auto;
    border: 1px solid #e5e5df;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgb(0, 0, 0.25);
}
.card_title{
    font-weight: bold;
    border-bottom: solid 5px transparent;
}
.card_title:before{
    display: inline-block;
    width: 1em;
    content: '+'
}
.card_title_active:before{
    display: inline-block;
    width: 1em;
    content: '-'
}
.triangle {
    display: inline-block;
    position: relative;
    top: 6rpx;
    margin-left: 10rpx;
    width: 0;
    height: 0;
    border: 10rpx solid transparent;
    border-top-color: #000
}
.triangle_down {
    display: inline-block;
    position: relative;
    top: 6rpx;
    margin-left: 10rpx;
    width: 0;
    height: 0;
    border: 10rpx solid transparent;
    border-top-color: #000
}
.card_title--is-open::before{
    content: '-';
}
.checklist_task:first-child{
    margin-top: 10px;
    padding-top: 10px;
    border-top: dashed 1px rgb(190, 41, 41);
}
.checklist_task--remove::after{
    display: inline-block;
    color: #d66;
    content: '+'
}
.checklist--add-task{
    border: 1px dashed #bbb;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 3px;
}
.toggle-enter{
    max-height: 0;
    overflow: hidden;
}
.toggle-enter.toggle-enter-active{
    max-height: 300px;
    overflow: hidden;
    transition: max-height 0.3s ease-in;
}
.toggle-leave{
    max-height: 300px;
    overflow: hidden;
}
.toggle-leave.toggle-leave-active{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out
}